In [3]:
% matplotlib inline
import pandas as pd
import json

def load_data():
    '''Loads json file, sorts year values, and concats in to a Pandas DataFrame'''
    with open('data\monthly-stats-2004-2016.txt','r') as f:
        data = json.load(f)
    frames = sorted([year for year in data])
    months = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']
    df = pd.concat([pd.DataFrame(data[year], index = [months]) for year in frames],keys = [year for year in range(2004,2017)])
    
    #df_frames = [pd.DataFrame(data[year], index = [months]) for year in frames]
    #df = pd.concat(df_frames, keys=[year for year in range(2004,2017)])
    return df

In [4]:
df = load_data()
df.head(12)

          abandoned 911 call  abandoned vehicle  abduction  \
2004 jan                 5.0               81.0        4.0
     feb                 4.0               63.0        2.0
     mar                 8.0               97.0        4.0
     apr                 2.0               82.0        1.0
     may                 2.0              107.0        2.0
     jun                 5.0               83.0        5.0
     jul                 4.0              113.0        3.0
     aug                 6.0               97.0        3.0
     sep                 6.0               84.0        1.0
     oct                 4.0               81.0        2.0
     nov                 2.0               76.0        1.0
     dec                 4.0               63.0        2.0

          abduction - non-parent  abduction - parent  accident - non-vehicle  \
2004 jan                     1.0                 1.0                     1.0
     feb                     0.0                 2.0                     0.0
     mar                     0.0                 1.0                     1.0
     apr                     0.0                 1.0                     0.0
     may                     0.0                 1.0                     0.0
     jun                     0.0                 3.0                     2.0
     jul                     0.0                 0.0                     1.0
     aug                     0.0                 3.0                     0.0
     sep                     0.0                 1.0                     0.0
     oct                     0.0                 2.0                     5.0
     nov                     0.0                 3.0                     5.0
     dec                     0.0                 1.0                     0.0

          administrative duties  alarm - law only  animal call  \
2004 jan                    0.0             367.0          5.0
     feb                    0.0             315.0          6.0
     mar                    0.0             359.0          4.0
     apr                    0.0             327.0          2.0
     may                    0.0             370.0         10.0
     jun                    0.0             375.0          5.0
     jul                    0.0             378.0          8.0
     aug                    0.0             347.0          7.0
     sep                    0.0             299.0          5.0
     oct                    0.0             301.0          6.0
     nov                    0.0             326.0          7.0
     dec                    0.0             349.0          3.0

          animal call - past        ...         vandalism - past  \
2004 jan                 0.0        ...                    225.0
     feb                 0.0        ...                    100.0
     mar                 0.0        ...                    148.0
     apr                 0.0        ...                    105.0
     may                 0.0        ...                    154.0
     jun                 1.0        ...                    180.0
     jul                 0.0        ...                    169.0
     aug                 0.0        ...                    198.0
     sep                 0.0        ...                    139.0
     oct                 0.0        ...                    184.0
     nov                 1.0        ...                    177.0
     dec                 1.0        ...                    116.0

          vehicle accident - fatal  vehicle accident - injury  \
2004 jan                       0.0                       55.0
     feb                       0.0                       71.0
     mar                       0.0                       67.0
     apr                       0.0                      107.0
     may                       0.0                      103.0
     jun                       0.0                       82.0
     jul                       2.0                      114.0
     aug                       0.0                       90.0
     sep                       0.0                       99.0
     oct                       0.0                       89.0
     nov                       0.0                       84.0
     dec                       2.0                       87.0

          vehicle accident - injury - comb  vehicle accident - left the scene  \
2004 jan                              24.0                               68.0
     feb                               0.0                               59.0
     mar                               0.0                               67.0
     apr                               0.0                               57.0
     may                               0.0                               72.0
     jun                               0.0                               61.0
     jul                               0.0                               66.0
     aug                               0.0                               73.0
     sep                               0.0                               67.0
     oct                               1.0                               74.0
     nov                               0.0                               69.0
     dec                               0.0                               93.0

          vehicle accident - non-injury  vehicle accident - past  \
2004 jan                          526.0                    140.0
     feb                          418.0                    150.0
     mar                          532.0                    171.0
     apr                          561.0                    184.0
     may                          530.0                    156.0
     jun                          492.0                    149.0
     jul                          495.0                    139.0
     aug                          494.0                    154.0
     sep                          495.0                    138.0
     oct                          619.0                    148.0
     nov                          575.0                    134.0
     dec                          519.0                    135.0

          vehicle maintenance  warrant - arrest  warrant - search
2004 jan                  0.0             263.0              35.0
     feb                  0.0             273.0              25.0
     mar                  0.0             318.0              23.0
     apr                  0.0             323.0              10.0
     may                  0.0             280.0              12.0
     jun                  0.0             286.0              15.0
     jul                  0.0             289.0              12.0
     aug                  0.0             361.0               9.0
     sep                  0.0             298.0              24.0
     oct                  0.0             325.0              15.0
     nov                  0.0             309.0              14.0
     dec                  0.0             306.0               5.0

[12 rows x 128 columns]

In [5]:
#df.ix[2004]['vehicle accident - injury'].plot()
#df.plot.hist(figsize = (30,50),orientation = 'horizontal')

def most_commits(dataf):
    most = 0.0
    for i in dataf:
        if dataf[i].sum() > most:
            most = dataf[i].sum()
            result = (i, dataf[i].sum())
    return result

def most_reports_by_year(dataf):
    final = []
    for year in range(2004,2017):
        most = 0.0
        result = None
        for i in dataf:
            if dataf.ix[year][i].sum() > most:
                most = dataf.ix[year][i].sum()
                result = (i,dataf.ix[year][i].sum())
        final.append(result)
    return final
            
result = most_commits(df)
by_year = most_reports_by_year(df)

by_year
#my_result = [df.ix[year]['vehicle accident - non-injury'].sum() for year in range(2004,2017)]
#print(sum(my_result))
#print(result)
#print(df.ix[2004]['vehicle accident - non-injury'].sum())

#df['vehicle accident - left the scene'].plot(subplots =True, figsize = (5,4))


#max([df[i].sum() for i in df])

[('stealing - past', 7033.0),
 ('stealing - past', 7909.0),
 ('vehicle accident - non-injury', 6084.0),
 ('vehicle accident - non-injury', 6151.0),
 ('vehicle accident - non-injury', 5483.0),
 ('vehicle accident - non-injury', 5363.0),
 ('vehicle accident - non-injury', 5167.0),
 ('vehicle accident - non-injury', 5179.0),
 ('vehicle accident - non-injury', 5220.0),
 ('vehicle accident - non-injury', 5076.0),
 ('alarm - law only', 4321.0),
 ('alarm - law only', 4040.0),
 ('alarm - law only', 3635.0)]

In [13]:
def bar_plot_by_year(report_type,data = df, begin_year = 2004, end_year = 2016):
    return data.ix[begin_year:end_year,[report_type]]
bar_plot_by_year('suicide',begin_year = 2004, end_year = 2005)

          suicide
2004 jan      8.0
     feb     11.0
     mar     13.0
     apr      7.0
     may      9.0
     jun      9.0
     jul     16.0
     aug      9.0
     sep     15.0
     oct      3.0
     nov      3.0
     dec      3.0
2005 jan      6.0
     feb      2.0
     mar      7.0
     apr      1.0
     may      7.0
     jun      2.0
     jul      2.0
     aug      2.0
     sep      1.0
     oct      1.0
     nov      4.0
     dec      4.0