In [55]:
import pandas as pd
import json
with open('text2.txt','r') as f:
    data = json.load(f)

In [108]:
rows = [i for i in data['2016']]

In [142]:
df = pd.DataFrame(data['2016'], index =['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'] )
df.head()

#['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']

#pd.read_table('text2.txt', sep = ':', header = [0])

,abandoned 911 call,abandoned vehicle,abduction,abduction - non-parent,abduction - parent,accident - non-vehicle,administrative duties,alarm - law only,animal call,animal call - past,...,vandalism - past,vehicle accident - fatal,vehicle accident - injury,vehicle accident - injury - comb,vehicle accident - left the scene,vehicle accident - non-injury,vehicle accident - past,vehicle maintenance,warrant - arrest,warrant - search
jan,"[jan, 1]","[jan, 171]","[jan, 0]","[jan, 0]","[jan, 1]","[jan, 0]","[jan, 0]","[jan, 350]","[jan, 3]","[jan, 0]",...,"[jan, 53]","[jan, 0]","[jan, 105]","[jan, 0]","[jan, 120]","[jan, 210]","[jan, 160]","[jan, 0]","[jan, 289]","[jan, 8]"
feb,"[feb, 0]","[feb, 203]","[feb, 0]","[feb, 2]","[feb, 2]","[feb, 0]","[feb, 0]","[feb, 320]","[feb, 3]","[feb, 0]",...,"[feb, 66]","[feb, 0]","[feb, 116]","[feb, 0]","[feb, 97]","[feb, 170]","[feb, 147]","[feb, 0]","[feb, 324]","[feb, 10]"
mar,"[mar, 0]","[mar, 159]","[mar, 0]","[mar, 1]","[mar, 1]","[mar, 1]","[mar, 0]","[mar, 310]","[mar, 5]","[mar, 0]",...,"[mar, 74]","[mar, 0]","[mar, 110]","[mar, 0]","[mar, 132]","[mar, 187]","[mar, 179]","[mar, 0]","[mar, 407]","[mar, 14]"
apr,"[apr, 0]","[apr, 147]","[apr, 0]","[apr, 0]","[apr, 2]","[apr, 1]","[apr, 0]","[apr, 298]","[apr, 2]","[apr, 0]",...,"[apr, 54]","[apr, 0]","[apr, 111]","[apr, 0]","[apr, 99]","[apr, 161]","[apr, 141]","[apr, 0]","[apr, 304]","[apr, 9]"
may,"[may, 1]","[may, 121]","[may, 0]","[may, 0]","[may, 1]","[may, 0]","[may, 1]","[may, 333]","[may, 1]","[may, 0]",...,"[may, 81]","[may, 0]","[may, 110]","[may, 0]","[may, 100]","[may, 160]","[may, 131]","[may, 0]","[may, 334]","[may, 9]"

In [168]:
df['abduction - parendf['abduction - parent'].str[1]

jan    1
feb    2
mar    1
apr    2
may    1
jun    2
jul    1
aug    0
sep    0
oct    1
nov    0
dec    0
Name: abduction - parent, dtype: object